
import("dplyr")
import("reshape2")
importFrom("stats", "dnbinom", "dnorm", "dpois", "optim", "pnorm","rnbinom", "rnorm", "rpois", "runif", "uniroot")
export("analysis")
export("analysis_multiyear")
export("simulation")
